<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="conecta" connectionString="Data Source=ADMIN-PC;User ID=admin;pwd=admin;database=prueba;MultipleActiveResultSets=True" />
    <!-- PRODUCTION
    <add name="conecta" connectionString="Server=KOCL584082SQL;Database=CMSNESTLEPEDIATRIACOM; User Id=MXSQL78;Password= fw1!sET!;" providerName="System.Data.SqlClient"/>-->
    <!-- STAGING
		<add name="conecta" connectionString="Server=KODG385136;Database=CMSNESTLEPEDIATRIACOM; User Id=MXSQL78;Password= fw1!sET!;" providerName="System.Data.SqlClient"/>
    -->
    <add name="PruebaEntities" connectionString="metadata=res://*/Services.Model.csdl|res://*/Services.Model.ssdl|res://*/Services.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SISTEMAS_PL\SQLEXPRESS;initial catalog=Prueba;persist security info=True;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding" />
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Rest.Services.DoctorService">
        <endpoint address="" contract="Rest.Services.IDoctorService" binding="webHttpBinding" />
      </service>
      <service name="Rest.Services.ArticleService">
        <endpoint address="" contract="Rest.Services.IArticleService" binding="webHttpBinding" />
      </service>
      <service name="Rest.Services.GeneralService">
        <endpoint address="" contract="Rest.Services.IGeneralService" binding="webHttpBinding" />
      </service>
      <service name="Rest.Services.EventService">
        <endpoint address="" contract="Rest.Services.IEventService" binding="webHttpBinding" />
      </service>
    </services>
  </system.serviceModel>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>